@model BTL_Platform.Models.RequestType
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    ViewBag.Title = "New Requests Type";
    ViewBag.Nav = "Request_Type";
}
<div class="container mt-5">
    <h1>Create Request Type</h1>
    <form asp-controller="RequestType" asp-action="Create" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TypeName" class="form-label">RequestType Name</label>
                    <input asp-for="TypeName" class="form-control" />
                    <span asp-validation-for="TypeName" class="text-danger"></span>
                </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-outline-primary float-right">Back to UnitType List</a>
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}