@model BTL_Platform.Models.User
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    ViewBag.Title = "New User";
    ViewBag.Nav = "Users";
}
<div class="">
    <h1>Create User</h1>
    <form asp-controller="User" asp-action="Create" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UserId" class="form-label">UserId</label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName" class="form-label">UserName</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Team" class="form-label">Team</label>
                    <input asp-for="Team" class="form-control" />
                    <span asp-validation-for="Team" class="text-danger"></span>
                </div>

               
            </div>

            
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-outline-primary float-right">Back to User List</a>
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}