@model BTL_Platform.Models.UnitType

@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
    ViewBag.Title = "Edit Units Type";
    ViewBag.Nav = "Units_Type";
}

<h1>Edit Unit Type</h1>

<form asp-action="Edit" asp-route-id="@Model.UnitTypeId" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UnitTypeName" class="form-label">Unit Type Name</label>
                <input asp-for="UnitTypeName" class="form-control" />
                <span asp-validation-for="UnitTypeName" class="text-danger"></span>
            </div>

           @* <div class="form-group">
                <label asp-for="IsDeleted" class="form-label">Is Deleted</label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>*@
        </div>

        <div class="col-md-6">
            <!-- Add the remaining form fields for the UnitType model here -->
            <!-- Make sure to adjust the labels and input names accordingly -->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-outline-primary float-right">Back to UnitType List</a>
        </div>
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}