@model BTL_Platform.Models.VisitType
@{
    Layout = "~/Views/Shared/_Layout_Of_Us.cshtml";
}
<div class="container mt-5">
    <h1>Create Visit Type</h1>
    <form asp-controller="VisitType" asp-action="Create" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="VisitTypeName" class="form-label">VisitType Name</label>
                    <input asp-for="VisitTypeName" class="form-control" />
                    <span asp-validation-for="VisitTypeName" class="text-danger"></span>
                </div>

                @*    <div class="form-group">
                <label asp-for="IsDeleted" class="form-label">Is Deleted</label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
                </div> *@
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-outline-primary float-right">Back to VisitType List</a>
                </div>
            </div>
    </form>
</div>
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
